[include]
  path = ~/.gitconfig.local

[color]
  ui = auto

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[alias]
  st = status -sb
  lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
  rollback = reset --soft HEAD~1
